*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #070707;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: auto;
}

h1{
    color: rgb(255, 251, 250);
    font-size: 40px;
    margin-top: 10px;
}

.logologinecadastro img{
    width: 200px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 10px;
}

.containerCadastro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 25px;
    background-color: transparent;
    border-radius: 10px;
    background-color: rgb(17, 16, 16);
    width: 400px;
    height: min-content;
}

input{
    width: 300px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    display: flex;
    border: none;
    border-bottom: 1px solid rgb(224, 56, 4);
    flex: 1;
    font-size: 16px;
    padding: 8px;
    background: transparent;
    color: white;
    margin: 20px;
}

input:focus{
    outline: none;
    transform: scale(1.05);
     transition: 0.2s;
}

input:hover{
     transform: scale(1.05);
     transition: 0.2s
}

.cadastrar{
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(226, 87, 45);
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.1s;
}

.cadastrar:hover{
    background-color: rgb(224, 56, 4);
    transform: scale(1.05);
    color: rgb(17, 16, 16);
}

p{
    color: white;
    font-size: 12px;
    
}
a{
    color: rgb(224, 56, 4);
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}